// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$dark-red: #941713 !default;
$red: #ff3846 !default;
$value-red:#ff5b65!default;
$orange: #e24e0e !default;
$green: #114a44 !default;
$yellow: #ffd500 !default;
$blue: #0275d8 !default;
$sky-blue: #3754e4 !default;
$header-blue: #34098b !default;
$dark-blue: #22263f !default;
$dark-grey: #080808 !default;
$light-grey: #dbdbdb !default;
$grey: #76787c !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
$swiper-color: #f85058 !default;
$border-bottom-color:#444548 !default;
$google-color:#db3236!default;
$twiter-color:#38A1F3!default;
$facebook-color:#4267b2!default;
$a:#01d28e!default;
$b:#f6f5f5!default;
$c:#364d59!default;
 $d:#777!default;
 $brown:rgb(165, 42, 42);